body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0px;
}
.mainWindow{
    position:absolute;
    width: 100%;
    height: 100%;
    margin : 0;
    padding : 0;
    border: 0px;
    background: url("../images/bg2.jpg");
    background-size: cover;
}
.head{
    float: top;
    text-align: center;
}
.register{
    position:absolute;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    display: table-cell;
    /*垂直居中 */
    vertical-align: middle;
    /*水平居中*/
    text-align: center;
    font-family: "Microsoft YaHei UI Light";
    font-size: large;
    background-color: rgba(32, 98, 198, 0.4);
    border: black solid 1px;
}